#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", serif;
}

.simple-content {
  @apply w-full rounded-xl text-white;
  background: linear-gradient(
    135deg,
    #2396a8,
    #2575fc
  ); /* Mavi-yeşil degrade */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Hafif gölge */
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.simple-input {
  @apply w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-black;
}

.compound-content {
  @apply w-full rounded-xl text-white;
  background: linear-gradient(
    135deg,
    #1c5d8b,
    #2575fc
  ); /* Koyu turkuaz degrade */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Hafif gölge */
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.compound-input {
  @apply w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-black;
}

.credit-content {
  @apply w-full h-full rounded-xl text-white;
  background: linear-gradient(135deg, #174a64, #2575fc); /* Koyu mavi degrade */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Hafif gölge */
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.credit-input {
  @apply w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-black;
}

.decreasing {
  @apply w-full lg:h-[60vh] grid items-center justify-center grid-cols-3 lg:grid-rows-12 lg:grid-flow-col lg:gap-x-5 gap-y-2 lg:gap-y-0;
}

.share-content {
  @apply w-full rounded-xl text-white;
  background: linear-gradient(135deg, #4c5fa4, #2575fc); /* Menekşe degrade */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Hafif gölge */
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.share-input {
  @apply w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-black;
}

/* Compound Raio Button */

/* Compound Raio Button */

/* Dropdown Menu */

.menu {
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  width: fit-content;
  display: flex;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.menu .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 36px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a3cff;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link svg {
  width: 14px;
  height: 14px;
  fill: #000000;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .item {
  position: relative;
}

.menu .item .submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  border-radius: 0 0 16px 16px;
  left: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
  pointer-events: none;
  list-style: none;
}

.menu .item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  border-top: transparent;
  border-color: #0a3cff;
}

.menu .item:hover .link {
  color: #ffffff;
  border-radius: 16px 16px 0 0;
}

.menu .item:hover .link::after {
  transform: scaleX(1);
  transform-origin: right;
}

.menu .item:hover .link svg {
  fill: #ffffff;
  transform: rotate(-180deg);
}

.submenu .submenu-item {
  width: 100%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link {
  display: block;
  padding: 12px 24px;
  width: 100%;
  position: relative;
  text-align: center;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-item:last-child .submenu-link {
  border-bottom: none;
}

.submenu .submenu-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: #0a3cff;
  z-index: -1;
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

.submenu .submenu-link:hover {
  color: #ffffff;
}

/* Dropdown Menu */
